# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Environment variables
.env
client/.env
client/.env.local
server/.env

# Build folders
dist/
client/dist/

# Logs
*.log

# Editor
.vscode/